SeminarV2.cls~
SeminarV2.tex~
SeminarV2.log
SeminarV2.aux
SeminarV2.ps
SeminarV2.fls
SeminarV2.synctex.gz
SeminarV2.fdb_latexmk
SeminarV2.dvi
any_question.eps
SeminarV2.cls
SeminarV2.blg
SeminarV2.bbl